page-login {
    .login-content {
        background-color: #399F8B ;

       
    }

    .login-box {
        background:rgb(16, 134, 118);
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }
          .ion-Items {
            background-color: rgba(0, 0, 0, 0);
            color:white;
             border-radius: 30px !important;
               padding-left: 30px !important;
               font-size: 0.9em;
               margin-bottom: 10px;
               border: 1px solid #ffffff;
               border-bottom: 0px !important;
               box-shadow: none !important;
               color:white;
           }

        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
          }
          .login-btn {
            background: rgba(98, 185, 165, 0);
            border-radius: 30px !important;
           
          }
      
      
          .btn {
            background: rgba(98, 185, 144, 0);
            border-radius: 30px !important;
       
          }
      
         
}
